<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385554279321-740l2jftvrk9geqv1dkfs6d82kuhjdnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385554279321-740l2jftvrk9geqv1dkfs6d82kuhjdnt</string>
	<key>API_KEY</key>
	<string>AIzaSyD_13ZmAmfqORgGsMf-Fz64kfDkl7bdCfg</string>
	<key>GCM_SENDER_ID</key>
	<string>385554279321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>protolicker.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-e4a72</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-e4a72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385554279321:ios:aeca97ae143eecb39c8108</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-e4a72.firebaseio.com</string>
</dict>
</plist>